# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

from scipy import stats
from statsmodels.stats.weightstats import ztest
from scipy.stats import sem

import seaborn as sns
import matplotlib.pylab as plt

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:

salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here: "from scipy import stats"
#eliminamos los nulos
salario_por_hora = salaries['Hourly Rate'].dropna()
# Lista de salarios por hora para cada trabajador
# Realizar una prueba t de una muestra
t_stat, p_valor = ztest(salario_por_hora, value=30) #le damos el valor#30$
# Imprimir los resultados
print(f"Estadístico t: {t_stat}")
print(f"Valor p: {p_valor}")

Estadístico t: 20.6198057854942
Valor p: 1.8228873859286195e-94

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
### Your code here:
salaries_police = salaries[salaries['Department'] == 'POLICE']

t_stat, p_value = ztest(salaries_police['Annual Salary'], value=86000)


mean_year = salaries_police.mean()

print(t_stat)
print(p_value)
print(mean_year)

nan
nan
Typical Hours       20.000000
Annual Salary    86486.414503
Hourly Rate          9.384000
dtype: float64

C:\Users\paul_\AppData\Local\Temp\ipykernel_57208\4194570563.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_year = salaries_police.mean()

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:
crosstab = pd.crosstab(salaries['Department'], salaries['Hourly Rate'])

crosstab

Hourly Rate,2.65,8.25,9.27,9.46,9.50,10.00,10.50,11.00,12.00,12.49,...,50.50,50.80,52.10,52.18,52.52,53.10,53.90,57.95,78.91,109.00
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
AVIATION,0,0,0,0,0,0,0,0,0,0,...,2,0,0,8,0,0,0,0,0,0
BUDGET & MGMT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BUSINESS AFFAIRS,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
CITY COUNCIL,0,0,0,0,1,1,2,0,15,0,...,0,0,0,0,0,0,0,0,0,0
COMMUNITY DEVELOPMENT,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
CULTURAL AFFAIRS,0,0,0,0,0,0,0,1,6,0,...,0,0,0,0,0,0,0,0,0,0
FAMILY & SUPPORT,206,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FIRE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GENERAL SERVICES,0,0,0,0,0,0,0,0,0,0,...,1,0,26,9,0,3,0,0,0,0
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
HUMAN RESOURCES,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OEMC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
POLICE,0,0,4,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PUBLIC LIBRARY,0,0,0,0,0,0,0,0,0,96,...,0,0,0,0,0,0,0,0,0,0
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,2,11,0,0,0
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,3,2,0,45,0,4,0,0,0,0

In [12]:
#Utilizando la función de tabla cruzada,carlculamos el departamento que tiene más trabajadores por hora.
# Encontrar el departamento con más trabajadores por hora
departamento_mas_trabajadores = crosstab.sum(axis=1).idxmax()

print(f"El departamento con más trabajadores por hora es: {departamento_mas_trabajadores}")

El departamento con más trabajadores por hora es: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
#eliminamos los nulos
salario_por_hora = salaries[salaries['Department'] == 'STREETS & SAN'].dropna()
# Lista de salarios por hora para cada trabajador
# Realizar una prueba t de una muestra
t_stat, p_valor = ztest(salario_por_hora['Hourly Rate'], value=35) #le damos el valor#30$
# Imprimir los resultados
print(f"Estadístico t: {t_stat}")
print(f"Valor p: {p_valor}")

Estadístico t: nan
Valor p: nan

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
# Your code here:
from scipy.stats import t
# Filtrar solo los empleados por hora
empleados_horas = salaries['Hourly Rate']

# Calcular la media y el error estándar
mean_empleados_horas = salaries['Hourly Rate'].mean()
std_error = np.std(empleados_horas, ddof=1) / np.sqrt(len(empleados_horas))

# Calcular el intervalo de confianza del 95%
confi_level = 0.95
len_empleados = len(empleados_horas) - 1
confi_interval =t.interval(confi_level, len_empleados, loc=mean_empleados_horas, scale=std_error)

# Mostrar el intervalo de confianza
print(f"El intervalo de confianza del 95% para el salario por hora es: {confi_interval}")

El intervalo de confianza del 95% para el salario por hora es: (32.65822828339105, 32.918887149169414)

In [27]:
a = np.arange(20).reshape(5,4)
stats.sem(a)

array([2.82842712, 2.82842712, 2.82842712, 2.82842712])

In [28]:
stats.sem(a, axis=None, ddof=0)

1.2893796958227628

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: